{% extends "base_generic.html" %}

{% block layout %}
  <div id="page-wrapper"
       class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom"
       data-sidebar-type="overlayed-sm-and-down">
    <div class="sticky-alerts"></div>
    <nav class="navbar">
      <div class="navbar-content">
        <button id="toggle-sidebar-btn"
                class="btn btn-action"
                type="button"
                onclick="halfmoon.toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <span class="navbar-brand ml-10 ml-sm-20">Halfquiz</span>
    </nav>
    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    <div class="sidebar">
      <div class="sidebar-menu">
        {% with request.resolver_match.url_name as url_name %}
          <h5 class="sidebar-title">Dashboard</h5>
          <div class="sidebar-divider"></div>
          <a href="{% url 'quizmaker:topic_list' %}"
             class="sidebar-link sidebar-link-with-icon {% if 'topic' in url_name %}active{% endif %}">
            <span class="sidebar-icon">
              <i class="bx bxs-category" aria-hidden="true"></i>
            </span>
            Topics
          </a>
          <a href="{% url 'quizmaker:question_list' %}"
             class="sidebar-link sidebar-link-with-icon {% if 'question' in url_name %}active{% endif %}">
            <span class="sidebar-icon">
              <i class="bx bx-question-mark" aria-hidden="true"></i>
            </span>
            Questions
          </a>
          <a href="{% url 'quizmaker:game_list' %}"
             class="sidebar-link sidebar-link-with-icon {% if 'game' in url_name %}active{% endif %}">
            <span class="sidebar-icon">
              <i class="bx bxs-calendar-check" aria-hidden="true"></i>
            </span>
            Games
          </a>
        {% endwith %}
      </div>
    </div>
    <div class="content-wrapper">
      {% if messages %}
        {% include "partials/message_notification_toast.html" %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div>
    <nav class="navbar navbar-fixed-bottom">
      <span class="navbar-text">© Copyright {% now "Y" %}</span>
    </nav>
  </div>
{% endblock layout %}
