{% extends "quizmaker/base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col-lg-9">
        <div class="content">
          <h1 class="content-title">Example Page</h1>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
        </div>
        <div class="card">
          <h2 class="card-title">Example Card</h2>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
          <button class="btn btn-primary btn-sm" type="button" onclick="toastAlert()">Toast!</button>
        </div>
        <div class="content">
          <div class="fake-content"></div>
          <div class="fake-content w-150"></div>
        </div>
      </div>
      <div class="col-lg-3 d-none d-lg-block">
        <div class="content">
          <h2 class="content-title font-size-20">On this page</h2>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
          <div class="fake-content"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block morescripts %}
  <script type="text/javascript">
    // Toasts a default alert
    function toastAlert() {
      var alertContent =
        "This is a default alert with <a href='#' class='alert-link'>a link</a> being toasted.";
      // Built-in function
      halfmoon.initStickyAlert({
        content: alertContent,
        title: "Toast!",
      });
    }
  </script>
{% endblock morescripts %}
