{% extends "quizmaker/base.html" %}

{% load widget_tweaks %}

{% block morelinks %}
  <style>
    .option {
      -webkit-text-size-adjust: 100%;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      -webkit-font-smoothing: antialiased;
      box-sizing: inherit;
      position: relative;
      padding: 1rem 2rem;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .4rem;
      color: rgba(255, 255, 255, .8);
      background-color: #191c20;
      background-image: none;
      border-color: rgba(255, 255, 255, .1);
      cursor: pointer;
    }

    .option-heading {
      color: inherit;
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0 0 .5rem;
    }

    .option-primary {
      color: #1890ff;
      background-color: #172636;
      border-color: #0d518f;
    }

    .option-primary:hover {
      color: #ffffff;
      background-color: #1890ff;
      border-color: #1890ff;
    }

    .option-secondary {
      color: #ffcf00;
      background-color: #302c1d;
      border-color: #8e7710;
    }

    .option-secondary:hover {
      color: rgba(0, 0, 0, .85);
      background-color: #ffcf00;
      border-color: #ffcf00;
    }

    .option-success {
      color: #0be881;
      background-color: #17312a;
      border-color: #0d8951;
    }

    .option-success:hover {
      color: rgba(0, 0, 0, .85);
      background-color: #0be881;
      border-color: #0be881;
    }

    .option-danger {
      color: #ff4d4f;
      background-color: #301923;
      border-color: #8c0e2e;
    }

    .option-danger:hover {
      color: #ffffff;
      background-color: #ff4d4f;
      border-color: #ff4d4f;
    }
  </style>
{% endblock morelinks %}

{% block content %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col-lg-12">
        <div class="content">
          <h1 class="content-title">Training Quiz</h1>
        </div>
        <div class="card">
          <h2 class="card-title">{{ question_number }}. {{ question_statement }}</h2>
          <form method="post">
            <div class="container-fluid">
              {% for option_field in form.answer %}
                {% if not forloop.counter|divisibleby:2 %}<div class="row row-eq-spacing-md">{% endif %}
                  <div class="col-md-6">
                    <div class="content">
                      <div class="form-check">
                        {% render_field option_field.tag %}
                        <label for="{{ option_field.id_for_label }}" class="form-check-label">{{ option_field.choice_label }}</label>
                      </div>
                    </div>
                  </div>
                  {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
              {% endfor %}
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit Question</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
