{% extends "quizmaker/base.html" %}

{% load widget_tweaks %}

{% block content %}
  {% if form.errors %}{{ form.errors }}{% endif %}
  {% if option_formset.errors %}
    {% with formset=option_formset %}{{ formset.errors }}{% endwith %}
  {% endif %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col">
        <div class="content">
          <h1 class="content-title">Question Registration</h1>
        </div>
        <div class="card">
          <h2 class="card-title flex-grow-1">Question Form</h2>
          <form method="post">
            <div class="form-group">
              <label for="{{ form.statement.id_for_label }}" class="required">Statement</label>
              {% render_field form.statement class+="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{ form.topic.id_for_label }}" class="required">Topic</label>
              {% render_field form.topic class+="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{ form.time.id_for_label }}" class="required">Time (ms)</label>
              {% render_field form.time class+="form-control" %}
            </div>
            <div>
              {{ option_formset.management_form }}
              <h3 class="card-title flex-grow-1">Options</h3>
              <div id="options-container">
                {% for option_form in option_formset.forms %}
                  <div class="input-group mb-20">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <div class="custom-checkbox">
                          {% render_field option_form.is_right %}
                          <label for="{{ option_form.is_right.id_for_label }}" class="blank"></label>
                        </div>
                      </div>
                    </div>
                    {% render_field option_form.text class+="form-control" %}
                    <div class="input-group-append">
                      {% if not option_form.empty_permitted %}
                        <div class="input-group-text bg-danger">
                          <i class="bx bxs-trash-alt bx-md mr-10"></i>
                          <div class="custom-checkbox">
                            {% render_field option_form.DELETE %}
                            <label for="{{ option_form.DELETE.id_for_label }}" class="blank"></label>
                          </div>
                        </div>
                      {% else %}
                        <button type="button" class="btn btn-secondary" onclick="removeOption(this);">
                          <i class="bx bxs-x-circle"></i>
                        </button>
                      {% endif %}
                    </div>
                    {# Include the hidden fields in the form of the formset #}
                    {% for hidden_field in option_form.hidden_fields %}{{ hidden_field }}{% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div id="empty-form" class="d-none">
              <div class="input-group mb-20">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <div class="custom-checkbox">
                      {% render_field option_formset.empty_form.is_right %}
                      <label for="{{ option_formset.empty_form.is_right.id_for_label }}"
                             class="blank"></label>
                    </div>
                  </div>
                </div>
                {% render_field option_formset.empty_form.text class+="form-control" %}
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" onclick="removeOption(this);">
                    <i class="bx bxs-x-circle"></i>
                  </button>
                </div>
                {# Include the hidden fields in the form of the formset #}
                {% for hidden_field in option_formset.empty_form.hidden_fields %}{{ hidden_field }}{% endfor %}
              </div>
            </div>
            <div class="mb-20">
              <button type="button"
                      class="btn btn-success text-white"
                      onclick="addOption();">Add Option</button>
            </div>
            {# Include the hidden fields in the form #}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
            {% csrf_token %}
            <input class="btn btn-primary btn-block"
                   type="submit"
                   value="Submit Question" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block morescripts %}
  <script>
    const questionForm = document.querySelector('form');
    const optionsInput = document.getElementById('id_options');
    const optionsContainer = document.getElementById('options-container');
    const totalFormsInput = document.getElementById('id_options-TOTAL_FORMS');
    const initialFormsInput = document.getElementById('id_options-INITIAL_FORMS');

    function addOption() {
      const emptyFormElement = document.getElementById('empty-form');
      const newOptionForm = emptyFormElement.firstElementChild.cloneNode(true);
      const currentFormCount = optionsContainer.children.length;
      const prefixRegex = new RegExp('__prefix__', 'g');

      // Make option statement required
      newOptionForm.querySelector('input[type=text]').required = true;

      // Replace with corresponding ID
      newOptionForm.innerHTML = newOptionForm.innerHTML.replace(prefixRegex, currentFormCount);
      optionsContainer.appendChild(newOptionForm);
      totalFormsInput.value = currentFormCount + 1;
    }

    function removeOption(event) {
      const optionElement = event.parentElement.parentElement;
      const currentFormCount = optionsContainer.children.length;

      optionsContainer.removeChild(optionElement);
      totalFormsInput.value = currentFormCount - 1;

      // Update all another forms
      updateCurrentOptionForms();
    }

    function updateCurrentOptionForms() {
      const optionsToUpdateElements = [...optionsContainer.children].slice(initialFormsInput.value);
      const indexRegex = new RegExp('-\\d+-', 'g');
      let optionFormCount = initialFormsInput.value;

      console.log(optionFormCount);

      for (const optionForm of optionsToUpdateElements) {
        const optionFormInputs = optionForm.getElementsByTagName('input');

        for (const optionInput of optionFormInputs) {
          optionInput.id = optionInput.id.replace(indexRegex, `-${optionFormCount}-`);
          optionInput.name = optionInput.name.replace(indexRegex, `-${optionFormCount}-`);
        }

        optionFormCount++;
      }
    }
  </script>
{% endblock morescripts %}
