{% extends "quizmaker/base.html" %}

{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col">
        <div class="content">
          <h1 class="content-title">Questions</h1>
        </div>
        <div class="card">
          <h2 class="card-title flex-grow-1">Import Questions From File</h2>
          <form method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="{{ form.topic.id_for_label }}" class="required">Topic</label>
              {% render_field form.topic class+="form-control" %}
            </div>
            <div class="custom-file mb-20">
              {% render_field form.questions_file %}
              <label for="{{ form.questions_file.id_for_label }}" class="required">Questions Excel File</label>
            </div>
            {# Include the hidden fields in the form #}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
            {% csrf_token %}
            <input class="btn btn-primary btn-block mt-4"
                   type="submit"
                   value="Import Questions" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
