{% extends "quizmaker/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="row row-eq-spacing-lg">
      <div class="col">
        <div class="content">
          <h1 class="content-title">Topics</h1>
        </div>
        <div class="card">
          <h2 class="card-title flex-grow-1">Topic Registration</h2>
          <form method="post">
            <div class="form-group">
              <label for="id_name" class="required">Name</label>
              {% render_field form.name class+="form-control" %}
            </div>
            <div class="form-group">
              <label for="id_description" class="required">Description</label>
              {% render_field form.description rows="4" class+="form-control" %}
            </div>
            {# Include the hidden fields in the form #}
            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
            {% csrf_token %}
            <input class="btn btn-primary btn-block" type="submit" value="Submit Topic" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
